body {
    background: #fcfcfc  url("../../bg.png") !important;
}

.green-gradient-bg {
    background: linear-gradient(60deg, #2b7a78, #17252a);
}

.card-header {
    padding: 20px 0;
    font-size: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.navbar {
    position: fixed;
    background-color: #2b7a78;
    color: #ffffff;
    width: 100%;
    z-index: 100;
}

.navbar a.nav-link, .navbar a.nav-link:hover, .navbar a.navbar-brand, .navbar a.navbar-brand:hover {
    color: #ffffff;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

.btn-simple {
    background-color: transparent;
    color: #2b7a78;
    border: 1px solid;
}

.sidebar {
    width: 20%;
    height: 92vh;
    position: fixed;
    bottom: 0;
    top: 70px;
}

.sidebar a {
    color: #000000;
    font-weight: 700;    
}

.sidebar div.element {
    border-bottom: 1px solid #cecece;
    padding: 15px;
}

.sidebar div.element:hover {
    background-color: #ffffff75;
}

.bg-grey {
    background-color: #e8f0f0;
}

.main-content {
    width: 80%;
    min-height: 100vh;
    background-color: #ffffff;
    margin-top: 70px;
    position: absolute;
    right: 0;
    overflow: hidden;
}

main {
    overflow: hidden;
}

.p-20 {
    padding: 20px;
}

.card-login {
    margin-top: 120px;
}

.flex {
    display: flex;
}

.l-h {
    line-height: 0.5rem
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(43, 122, 120, 0.11);
}

.badge-simple {
    border: 1px solid #2b7a78;
}

textarea {
    max-height: 200px;
}

.font-20 {
    font-size: 20px;
}

.vertical-bottom {
    vertical-align: bottom;
}

.card-task:hover {
    background-color: #e8f0f0;
    cursor: pointer;
}

.edit-task {
    display: none;
}

.card-task:hover .edit-task {
    display: block;
}

#modal-task {
    display: none;
}

.mt-10 {
    margin-top: 6rem!important;
}

.mx-10 {
    margin-right: 6rem!important;
}

#create-board {
    display: none;
}