body {
    background: #fcfcfc  url("../../bg.png") !important;
}

.card {
    padding: 20px;
}

.green-gradient-bg {
    background: linear-gradient(60deg, #2b7a78, #17252a);
}

.card-header {
    padding: 20px 0;
    font-size: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.navbar {
    position: fixed;
    background-color: #2b7a78;
    color: #ffffff;
    width: 100%;
    z-index: 100;
}

.navbar a.nav-link, .navbar a.nav-link:hover, .navbar a.navbar-brand, .navbar a.navbar-brand:hover {
    color: #ffffff;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

.btn-simple {
    background-color: transparent;
    color: #2b7a78;
}

.sidebar {
    width: 20%;
    height: 92vh;
    padding: 20px;
    position: fixed;
    bottom: 0;
    top: 70px;
}

.sidebar a {
    color: #000000;
    font-weight: 700;    
}

.sidebar div.element {
    border-bottom: 1px solid #cecece;
    padding: 15px;
}

.sidebar div.element:hover {
    background-color: #ffffff75;
}

.bg-grey {
    background-color: #eeeeee;
}

.main-content {
    width: 80%;
    min-height: 100vh;
    background-color: #ffffff;
    margin-top: 70px;
    position: absolute;
    right: 0;
    overflow: hidden;
}

main {
    overflow: hidden;
}